.tarjeta {
    display: inline-flex;
     
}
.perfume {
    width: 30vw;
    border-bottom: 1px solid black ;
}
h3, h4 {
    text-transform: uppercase;
  }
h5 {color: purple;}
.fotoSize {
    width: 100px;
    height: 100px;
}
button {background-color: black;
color: white;
border-radius: 10%;
}